@using Snek.Client.Components;

<div>
    <div class="main-menu-background">
        @*<img src="grass.jpg" style="width:700px;height:700px;"/>*@
        <MainMenu></MainMenu>
    </div>
</div>

@code {

}
