@using Snek.Client.Components;

<div>
    <div style=" width: 50%; margin: 0 auto; width: 1280px; height: 720px; justify-content: center;background-image: url('grass.jpg');">
        @*<img src="grass.jpg" style="width:700px;height:700px;"/>*@
        <MainMenu></MainMenu>
    </div>
</div>

@code {

}
