@if (isMainMenu == true)
{
    <div class="main-button-background">
        <div class="main-buttons">
            <div class="main-button-distance">
                <button class="btn btn-primary main-button-sized" @onclick="SinglePlayer">Single Player</button>
            </div>
            <div class="main-button-distance">
                <button class="btn btn-primary main-button-sized" @onclick="Multiplayer">Multiplayer</button>
            </div>
            <div class="main-button-distance">
                <button class="btn btn-primary main-button-sized">Options</button>
            </div>
        </div>
    </div>


}

@if (isSinglePlayer == true)
{
    <Map></Map>
}
@if (isMultiplayer)
{
    <Lobby></Lobby>
}
@code {


    public bool isSinglePlayer { get; set; } = false;
    public bool isMainMenu { get; set; } = true;
    public bool isMultiplayer { get; set; } = false;

    private void SinglePlayer()
    {
        isSinglePlayer = true;
        isMainMenu = false;

    }

    private void Multiplayer()
    {
        isMainMenu = false;
        isMultiplayer = true;
    }
}