@page "/snake"
@using System.Drawing;
@using Snek.Shared.Board;
@using Snek.Shared;
@using Snek.Client.Components;
@inject NavigationManager NavigationManager;
@inject HttpClient Http
@inject IJSRuntime JSRuntime;

<h3>Snake</h3>
<Game></Game>
    
@code {

}
